.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(27, 114, 243);
    position: fixed;
    top: 0;
}

.hamburger {
    margin: 10px;
    margin-bottom: 0;
    font-size: 30px;
}

.navbar ul {
    list-style: none;
    background-color: rgb(27, 114, 243);
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    z-index: 100;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgb(253, 93, 1);
    text-decoration: none;
}

.navbar ul li {
    background-color: rgb(27, 114, 243);
    padding: 10px;
}

.display-none {
    display: none;
}

@media (min-width:1281px) {
    .hamburger {
        display: none;
    }
    .navbar ul {
        display: flex;
        justify-content: center;
    }
}